.card__close-image {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 24px;
  height: 24px;

  border-radius: 4px;

  fill: none;

  cursor: pointer;
  transition: background-color .3s;
}
.card__close-image:hover {
  background-color: var(--gray-50);
}
.card__close-image:hover > path {
  fill: var(--gray-750);
}
.card__close-image:active {
  background-color: var(--gray-100);
}


.card__close-image path {
  fill: #B2B0AB;

  transition: fill .3s;
}